<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Gaegu' rel='stylesheet'>
  <link rel="stylesheet" href="style.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>The deep dark</title>
  <splash src="Images/Splash.png" />
</head>

<body>
  <scene>

    <dialog type="splash" open>
      <img id="FudgeStoryLogo" theme="dark" /> <!-- use "light" or "dark" -->
      <p class="startInfo">
        Zum starten linke Maustaste drücken...
      </p>
      <p class="info">
        Für ein besseres Erlebnis spiele bitte im Vollbildmodus (F11)
      </p>
      
    </dialog>

    <canvas>
    </canvas>
    <b>Story:</b> <br><br>
    Felix Iltgen <br><br>
    <b>Charaktere:</b> <br><br>
    Itch.io <br><br>
    <a href='https://duokhay.itch.io/green-haired-girl-free-character-sprite'>Maria</a> <br><br>
    <a href='https://nsaid.itch.io/blonde-guy'>Ben</a><br><br>
    <a href='https://nsaid.itch.io/glasses-guy'>Valentinn</a><br><br>
    <a href='https://nsaid.itch.io/office-lady-3'>Paula</a><br><br>
    <a href='https://xiael.itch.io/sprite-oswald'>Pirat</a><br><br>
    <b>Hintergründe:</b> <br><br>
    Felix Iltgen by <a href='https://www.midjourney.com/home/?callbackUrl=%2Fapp%2F'>midjourney</a> <br><br>
    <b>Musik & Sounds</b>
    By <a href='https://github.com/SamuelKasper'>Samuel Kasper</a> & <a href='https://pixabay.com/sound-effects/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=46195'>Pixabay</a><br><br>
    <b>Programmierung:</b><br><br>
    Felix Iltgen<br><br>
    <b>Weitere:</b><br><br>
    Items by <a href='https://www.flaticon.com/de/kostenlose-icons'> Freepik - Flaticon</a><br><br>
    Book Png vectors by  <a href='https://lovepik.com/images/png-book.html'>Lovepik.com</a>

    <speech>
      <name></name>
      <content></content>
    </speech>

    <dialog type="text">
    </dialog>

    <dialog type="inventory">
      <ul>
        <!-- <li>a description could be written in here</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
        <li>e</li> -->
      </ul>
      <button type="button">close</button>
    </dialog>

  </scene>
</body>

</html>